<!DOCTYPE html>
<html>
<head>
  <title>SplashHome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div id="clearance_links">
		<% if signed_in? %>
		  Welcome, Young Grasshopper: <%= current_user.email %>
		  <%= link_to (fa_icon "sign-out", text: "Sign Out?"), sign_out_path, method: :delete %>
		<% else %>
		  <%= link_to (fa_icon "users", text: "Sign In"), sign_in_path %>
		<% end %>

		<div id="flash">
		  <% flash.each do |key, value| %>
		    <div class="flash <%= key %>"><%= value %></div>
		  <% end %>
		</div>

		<div class="home">
			<%= link_to (fa_icon "home", text: "Go Home"), home_index_path %>
		</div>
</div>

<%= yield %>

<%= render 'layouts/shared/footer' %>

</body>
</html>
