<p id="notice"><%= notice %></p>

<p>
  <strong>Book Title:</strong>
  <%= @book.booktitle %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
